:root{
    --background : #1A1E23;
    --subtitles : #AEA19E;
    --text : #959393;
    --leftRightMargin :4%;
    --padding-top : 2%;
    --margin-bottom : 15%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--background);
    font-family: 'Lato', sans-serif;
    -webkit-font-smoothing: antialiased;
    margin-top: 5%;
    margin-left: var(--leftRightMargin);
    margin-right: var(--leftRightMargin);
    min-height: 100v;
  }

h2{
    font-size: 135%;
    font-family: "Archivo";
    color: var(--subtitles);
    padding-top: var(--padding-top);
}

p {
    font-size: 100%;
    font-family: "Yu Gothic UI";
    color: var(--text);
    text-align: center;
    line-height: 1.5;
    padding-top: var(--padding-top);
    margin-bottom: var(--padding-bottom);
}

li {
    font-size: 100%;
    font-family: "Yu Gothic UI";
    color: var(--text);
    line-height: 1.5;
    padding-top: var(--padding-top);
    margin-bottom: var(--padding-bottom);
}

.hello {
    list-style: circle inside;
    color: var(--subtitles)
  }

img {
    width: 100%;
    height: auto;
}

article{
    margin-bottom: var(--margin-bottom);
}

.link {
    text-decoration: underline;
    color: #85CFF3;
}
