:root{
    --background : #1A1E23;
    --background-color-Imperessum : #182126;
    --subtitles : #AEA19E;
    --text : #959393;
    --font-Size : 1.25em;
    --leftRightMargin :5%;
    --padding-top : 2%;
    --padding-bottom : 5%;
    --margin-bottom : 15%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    margin-left: var(--leftRightMargin);
    margin-right: var(--leftRightMargin);
}

body{
    background-color: var(--background);
    /* max-width: auto; */
    font-family: 'Lato', sans-serif;
    -webkit-font-smoothing: antialiased;
    margin-top: 1em;
    min-height: 100vh;
  }

ul{
    word-break: break-word;
}

h1{
    text-align: center;
    font-family: "Archivo";
    color: var(--subtitles);
    padding-bottom: var(--padding-bottom);
}

h2{
    text-align: center;
    font-family: "Archivo";
    color: var(--subtitles);
    padding-top: var(--padding-top);
    padding-bottom: 1em;
}
h3{
    text-align: center;
    font-family: "Archivo";
    color: var(--subtitles);
    padding-top: var(--padding-top);
}

header{
    text-align: center;
    font-size: 1.1em;
    font-family: "Archivo";
    color: var(--subtitles);
    padding-top: var(--padding-top);
}

h5{
    font-size: var(--font-Size);
    text-align: center;
    font-family: "Archivo";
    color: var(--subtitles);
    padding-bottom: 1em;
}

p {
    font-size: var(--font-Size);
    font-family: "Yu Gothic UI";
    color: var(--text);
    text-align: center;
    line-height: 1.5;
    padding-top: var(--padding-top);
    margin-bottom: var(--padding-bottom);
}

.impressum-links{
    font-size: var(--font-Size);
    font-family: "Yu Gothic UI";
    color: var(--text);
    line-height: 1.5;
    list-style: none;
    /* padding-top: var(--padding-top); */
    margin-bottom: 0.5rem;
}

.impressum-text{
    text-align: center;
    font-size: var(--font-Size);
    font-family: "Yu Gothic UI";
    color: var(--text);
    line-height: 1.5;
    list-style: none;
    /* padding-top: var(--padding-top); */
    margin-bottom: 0.5rem;
}

li {
    font-size: var(--font-Size);
    font-family: "Yu Gothic UI";
    color: var(--text);
    line-height: 1.5;
    /* padding-top: var(--padding-top); */
    margin-bottom: 0.5rem;
}

.hello {
    list-style: circle inside;
    color: var(--subtitles)
  }

img {
    width: 100%;
    height: auto;
    margin-bottom: 0.5rem;
}

.description{
    margin-bottom: var(--margin-bottom);
}

.link {
    text-decoration: underline;
    color: #85CFF3;
}

footer{
    background-color: var(--background-color-Imperessum);
    margin-bottom: var(--padding-bottom);
}

article{
    margin-bottom: 4em;
}
