@media screen and (min-width: 580px) {
    footer ul {
        text-align: center;
    }
    .drafting{
        display : grid;
        width: auto;
        height: auto;
        grid-template-columns: 1fr 1fr ;
        grid-template-rows: auto auto;
        grid-gap: 1rem;
        grid-template-areas:
            "header header"
            "sidebar content"
    }

    .drafting .drafting-title{
        grid-area: header;
    }

    .drafting .drafting-text{
        grid-area: content;
    }

    .drafting .imageDraft{
        grid-area: sidebar;
    }



    .standard{
        display : grid;
        width: auto;
        height: auto;
        grid-template-columns: 1fr 1fr ;
        grid-template-rows: auto auto;
        grid-gap: 1rem;
        grid-template-areas:
            "header header"
            "sidebar content"
    }

    .standard .standard-title{
        grid-area: header;
    }

    .standard .hello .standard-text{
        grid-area: content;
    }

    .standard .imageStandard{
        grid-area: sidebar;
    }

    .commander{
        display : grid;
        width: auto;
        height: auto;
        grid-template-columns: 1fr 1fr ;
        grid-template-rows: auto auto;
        grid-gap: 1rem;
        grid-template-areas:
            "header header"
            "sidebar content"
    }

    .commander .commander-title{
        grid-area: header;
    }

    .commander .hallo .commander-text{
        grid-area: content;
    }

    .commander .imageCommander{
        grid-area: sidebar;
    }
    .standard-text{
        text-align: left;
        display: flex;
        align-items: center;
    }
    .drafting-text{
        text-align: left;
        display: flex;
        align-items: center;
    }
    .commander-text{
        text-align: left;
        display: flex;
        align-items: center;
    }
}

@media screen and (min-width: 1400px) {
    main{
        display: flex;
    }
}

.commander-link{
    padding-bottom: 1em;
}